
body{
    text-align: center;
    background-image:linear-gradient( rgba(100, 104, 104, 0.5), rgba(100, 100, 100, 0.5)),
     url("images/background.jpg");
     background-attachment: fixed;    
    font-family: 'Roboto', sans-serif;
    color: white;
}

#survey-form{
    background-color: #595896;
    width: 700px;
    text-align: left;
    padding: 50px;
    border-radius: 1%;
    box-shadow: 0px 0px 30px 10px black;
}
#form-background{
    display: flex;
    align-items: center;
    justify-content: center;

 /*   width: 100vw;
    padding: 25px;*/
}
#form-container{
    width: 100px;
    padding: 250px;
}
#dropdown{
    background-color: #ffffff;
    width: 100%;
    border-color: white;
    padding: 5px;
    border-radius: 5px;
    background-clip: padding-box;
}

#dropdown:focus{
    border-color:  #0000ff;
    border: 5px;
}
input{
    width: 100%;
    margin-bottom: 15px;

    background-clip: padding-box;
}
input:focus{
    border-color: #0000ff;
}
#comment{
    width: 100%;
    font-family: "Roboto", sans-serif;
}
#comment:focus{
    border-color: blue;
}
#submit{
 
    padding: 7px;
    background-color: green;
    border: none;
}
#submit:hover{
    background-color: yellowgreen;
}
.radio{
    width: auto;
    margin-bottom: 0px;
}

.box{
    width: auto;
    margin-bottom: 0px;
}

@media (max-width: 1000px){
    #survey-form{
        width: 600px;
        justify-self: center;
        
    }
}
@media (max-width: 600px ){
    #survey-form{
        width: 90%;
        padding: 5%;
        justify-self: center;
        
    }

}
#comment-box{
    padding-top: 20px;
}