body{
    text-align: center;
    background-color: lightgrey;
    
    font-family: 'Roboto', sans-serif;
}
#survey-form{
    background-color: #8987e4;
    width: 700px;
    text-align: left;
    padding: 50px;
    border-radius: 1%;
}
#form-background{
    display: flex;
    align-items: center;
    justify-content: center;
 /*   width: 100vw;
    padding: 25px;*/
}
#form-container{
    width: 100px;
    padding: 250px;
}
#dropdown{
    background-color: #ffffff;
    width: 100%;
    border-color: white;
    padding: 5px;
    border-radius: 5px;
    background-clip: padding-box;
}

#dropdown:focus{
    border-color:  #0000ff;
    border: 5px;
}
input{
    width: 100%;

    background-clip: padding-box;
}
input:focus{
    border-color: #0000ff;
}
#comment{
    width: 100%;
    font-family: "Roboto", sans-serif;
}
#comment:focus{
    border-color: blue;
}
#submit{
 
    padding: 7px;
    background-color: green;
    border: none;
}
#submit:hover{
    background-color: yellowgreen;
}
.radio{
    width: auto;
}

.box{
    width: auto;
}

@media (max-width: 1000px){
    #survey-form{
        width: 600px;
        justify-self: center;
        
    }
}
@media (max-width: 600px ){
    #survey-form{
        width: 90%;
        padding: 5%;
        justify-self: center;
        
    }

}